  <h1 class="page-title projects col-md-12">Projects</h1>
<div class="container projects">
  <section class="grid-item portfolio col-lg-4 col-md-4 col-xs-12">
  <article class="grid-subitem col-md-12">
  <div class="item col-md-6 item1" ng-click="$ctrl.setItem(1)"></div>
  <div class="item col-md-6 item2" ng-click="$ctrl.setItem(2)"></div>
  <div class="item col-md-6 item3" ng-click="$ctrl.setItem(3)"></div>
  <div class="item col-md-6 item4" ng-click="$ctrl.setItem(4)"></div>
  <div class="item col-md-6 item5" ng-click="$ctrl.setItem(5)"></div>
  <!--<div class="item" data-grid="item6"><div class="overlay"></div></div> -->
  </article>
</section>
<section class="grid-item window col-lg-8 col-md-8 col-xs-12">
    <article class="window item{{$ctrl.item_info}}" ng-show="$ctrl.item_info == 1" ng-hide="$ctrl.item_info !== 1">
      <div class="project-info">
        <h3>Let's Go Out!</h3>
        <p>This application is made for people who love live music, anyone looking for some last minute plans, or looking for concerts of the specific artist. It was a one-week school project.</p>
        <a href="http://github.com/SoleNero/Q1project" class="github-link" target="_blank">GitHub</a>
        <a href="http://letsgoout.surge.sh/" class="project-link" target="_blank">Project-Link</a>        
      </div>
      <div class="screeenshot-background"></div>
    </article>
    <article class="window item{{$ctrl.item_info}}" ng-show="$ctrl.item_info == 2" ng-hide="$ctrl.item_info !== 2">
      <div class="project-info">
        <h3>Ghost Rush</h3>
        <p>Explore and encourage preservation of Colorado's rich mining history by visiting abandoned ghost towns using Ghost Rush! Users can save towns they want to visit as well as keep track of those they have already explored. It was a one-week school group project.</p>
        <a href="https://github.com/ohendrick1223/ghost_rush" class="github-link" target="_blank">GitHub</a>
        <a href="https://ghost-rush.herokuapp.com/" class="project-link" target="_blank">Project-Link</a>        
      </div>
      <div class="screeenshot-background"></div>
    </article>
    <article class="window item{{$ctrl.item_info}}" ng-show="$ctrl.item_info == 3" ng-hide="$ctrl.item_info !== 3">
      <div class="project-info">
        <h3>Atom Superstratum</h3>
        <p>Interactive Periodic Table is a fully encompassed interactive desktop educational tool where users can interact with and learn from the Periodic Table! It was a one-week school group project.</p>
        <a href="https://github.com/SoleNero/interactive-periodic-table" class="github-link" target="_blank">GitHub</a>
        <a href="http://superstratum.surge.sh/" class="project-link" target="_blank">Project-Link</a>        
      </div>
      <div class="screeenshot-background"></div>
    </article>
    <article class="window item{{$ctrl.item_info}}" ng-show="$ctrl.item_info == 4" ng-hide="$ctrl.item_info !== 4">
      <div class="project-info">
        <h3>Bike Swap</h3>
        <p>Bike Swap is a single page bicycle classified app for new and used bicycles. </p>
        <a href="https://github.com/SoleNero/bikeswap" class="github-link" target="_blank">GitHub</a>
        <a href="https://bikeswap.herokuapp.com/" class="project-link" target="_blank">Project-Link</a>        
      </div>
      <div class="screeenshot-background"></div>
    </article>
    <article class="window item{{$ctrl.item_info}}" ng-show="$ctrl.item_info == 5" ng-hide="$ctrl.item_info !== 5">
      <div class="project-info">
        <h3>Seed Linked</h3>
        <p>The app was created to prove the concept, to provide the way of visualizing seed variety distribution across the US and information exchange. I've created the API base on data provided by product owner - Nicolas Enjalbert Plant Breeder, PhD.</p>
        <a href="https://github.com/SoleNero/seedlinked" class="github-link" target="_blank">GitHub</a>
        <a href="http://seedlinked.surge.sh/" class="project-link" target="_blank">Project-Link</a>        
      </div>
      <div class="screeenshot-background"></div>
    </article>
    <!--<article class="window item{{$ctrl.item_info}}">
      <div class="project-info">
        <h3></h3>
        <p></p>
        <a href="" class="github-link" target="_blank">GitHub repo</a>
        <a href="" class="project-link" target="_blank">Project Link</a>        
      </div>
      <div class="screeenshot-background"></div>
    </article>-->
  </section>
</div>